/******************/
/* common css */
/****************/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.wrapper {
  padding: 0px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.main_slide {
  display: none;
}
.sm {
  display: none;
}
.pc {
  display: none;
}
.research_section_pc {
  display: none;
}
.menu-btn {
  display: block;
}
.top-btn {
  padding: 5px 10px;
  background-color: #0f4688;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 99;
}
.top-btn.active {
  display: block;
}


/**********/
/* header */
/*********/
header {
  background-color: #f1f8fd;
  padding: 15px;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header .logo img {
  width: 200px;
  margin-top: 5px;
}
header .menu-btn {
  background: none;
  border: none;
}
header .menu-btn:hover {
  background-color: white;
}
header .sm {
  background: rgba(	241, 248, 253, 0.9);
  width: 98%;
  margin: 0 auto;
}
header .sm .sm-navi {
  padding: 5px;
}
header .sm .sm-navi .sm-navi_bar {
  color: black;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}
header nav.sm.active {
  display: block;
}
header .sm .sm-navi .sm-navi_bar:hover {
  color: #47689a;
}


/*****************/
/**main**/
/****************/
main {
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)) , url("../picture/shutterstock_726926179.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .wrapper {
  text-align: center;
  color: #ffffff;
  padding: 22px;
}
main .wrapper h2 {
  font-size: 34px;
  font-weight: bold;
}
main .wrapper p {
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 20px;
}
main .learn-btn {
  background-color: #f1c712;
  border: none;
  color: white;
  padding: 8px 17px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  border-radius: 2.5px;
  margin: 0px 25px;
}
main .apply-btn {
  border: 1px solid;
  border-color: #f1c712;
  background: none;
  color: white;
  padding: 8px 17px;
  text-align: center;
  font-size: 10px;
  margin: 0px 25px;
  cursor: pointer;
  border-radius: 2.5px;
}
main .learn-btn:hover {
  color: white;
  background-color: #0f4688;
}
main .apply-btn:hover {
  background-color: #f1c712;
}


/****************/
/**programming**/
/****************/
.programming h1 {
  font-size: 14px;
  text-align: center;
  color: #47689a;
  margin-top: 20px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
.programming .para {
  font-size: 14px;
  text-align: center;
  color: #4c4c4c;
  font-family: 'Merriweather', serif;
  margin-bottom: 20px;
}
.programming .course-img img {
  width: 100%;
}
.programming .para:after {
  content: "";
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 1px;
  background-color: gray;
}
.programming .courses {
    background-color: #f8f8f8;
    border: 1px solid;
    border-color: #b3b3b3;
    margin-bottom: 50px;
    height: auto;
    width: 100%;
    position: relative;
}
.programming .courses .content h3 {
  color: #0f4688;
  margin-top: 27px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.programming .courses .content p {
  font-size: 15px;
  margin-bottom: 10px;
}
.programming .courses .content {
  padding-left: 20px;
}
.programming .courses .image_courses {
  position: relative;
}
.programming .courses .content .readmore-btn {
  background-color: #f1c712;
  border: none;
  text-align: center;
  padding: 7px 28px;
  border-radius: 2.5px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  margin-bottom: 20px;
}
.programming .courses .right_img img {
  width: 80px;
  position: absolute;
  top: 84%;
  right: 10%;
}


/**********************/
/**admission**/
/*********************/
.admission h1 {
  font-size: 14px;
  text-align: center;
  color: #47689a;
  margin-bottom: 20px;
  margin-top: -25px;
  font-family: 'Merriweather', serif;
}
.admission .wrapper {
  background-image:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)) , url(../picture/admission.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 22px;
  text-align: center;
}
.admission .wrapper h3 {
  font-size: 20px;
  color: #ffffff;
}
.admission .wrapper p {
  color: #ffffff;
  margin-top: 5px;
}
.admission .wrapper .register_btn {
  background-color: #f1c712;
  border: none;
  padding: 6px 16px;
  border-radius: 2.5px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}


/*****************/
/**events**/
/****************/
.events {
  background-color: #f8f8f8;
  padding: 35px;
  position: relative;
}
.events .event_heading h1 {
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
  color: #47689a;
  font-family: 'Merriweather', serif;
}
.events .event_heading p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}
.events .event_heading .event-pic img {
  width: 50px;
  position: absolute;
  top: 15px;
  right: 50px;
}
.events .event_images .right_img {
  background-image: url("../picture/events2.png");
  background-position: center;
  margin-top: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10px;
}
.events .event_images .right_img1 {
  background-image: url("../picture/events1.png");
  background-position: center;
  margin-top: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10px;
}
.events .event_images {
  position: relative;
}
.events .event_images p {
  color: #ffffff;
  padding-top: 40px;
  font-size: 13px;
  line-height: 0px;
}
.events .event_images h3 {
  color: #ffffff;
  font-size: 38px;
}
.events .event_images .right_img .event-date {
  background-color: #f1c712;
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 7px 14px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.events .event_images .right_img1 .event-date {
  background-color: #f1c712;
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 7px 14px;
  position: absolute;
  top: 159px;
  right: 0px;
}


/*****************/
/**news**/
/****************/
.news_outer {
  background-color: black;
}
.news_outer .read {
    text-decoration: underline;
    color: #f1c712;
}
.news_outer .read:hover {
  color: #0f4688;
}
.news_outer h1 {
  font-size: 14px;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-family: 'Merriweather', serif;
}
.news_outer .news .left .left-heading {
  font-size: 12px;
  padding: 20px 0px 0px 15px;
}
.news_outer .news .left .news_content {
  display: flex;
  padding: 14px 4px;
}
.news_outer .news .left .news_content3 {
  display: flex;
  padding: 14px 4px;
  justify-content: space-between;
}
.news_outer .news {
    display: flex;
    background-color: white;
    margin-top: 20px;
    height: 100%;
    justify-content: space-between;
}
.news_outer .news-img img {
    width: 100%;
    height: 100%;
}
.news_outer .news .news-date {
  background-color: #0f4688;
  border: none;
  display: inline-block;
  font-size: 15px;
  padding: 5px;
  color: white;
  border-radius: 2.5px;
  margin-left: 9px;
}
.news_outer .wrapper {
  padding: 0px 20px 20px 20px;
}
.news_outer .news .left .news_info .news_program {
  font-size: 12px;
  margin-left: 10px;
}
.news_outer .news .left .news_info .readmore {
  font-size: 12px;
  padding-left: 10px;
  color: #f1c712;
}
.news_outer .news .left {
  width: 100%;
}
.news_outer .news_slide {
    position: relative;
    padding: 15px;
}
.news_outer .news_dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.news_outer .news_dots .news_active {
    width: 20px;
    height: 20px;
    border-radius: 60%;
    display: inline-block;
    margin-right: 15px;
    border: 1px solid #f1c712;
    cursor: pointer;
}
.news_outer .news_dots .news_active1 {
    width: 20px;
    height: 20px;
    border-radius: 60%;
    display: inline-block;
    margin-right: 15px;
    border: 1px solid #f1c712;
    cursor: pointer;
}
.news_active:hover  {
  background-color: #f2c712;
}
.news_active1:hover {
  background-color: #f2c712;
}
.news_outer .news_slide .news_dots li.active {
      background: #f2c712;
  }

/****************/
/**research**/
/***************/
.research {
  background-color: #f8f8f8;
}
.research h1 {
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    color: #47689a;
    font-family: 'Merriweather', serif;
}
.research .wrapper {
  padding: 30px;
}
.research .research_section {
  position: relative;
  margin-bottom: 30px;
}
.research .research_section .research_img img {
  width: 100%;
}
.research .research_section .research_content h3 {
  text-align: center;
  font-size: 25px;
  color: #47689a;
  margin-bottom: 15px;
}
.research .research_section .research_content .res_para img {
  width: 4%;
}
.research .research_section .research_content .res_para {
  padding-left: 41px;
  font-size: 17px;
  padding-bottom: 13px;
}
.research .research_section .research_content .research-date {
  background-color: #f1c712;
  border: none;
  font-size: 16px;
  padding: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: opacity(85%);
}
.research .research_section .research_content .resear_heading:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: gray;
  display: block;
  margin: 0 auto;
}


/*****************/
/**footer**/
/****************/
footer {
  background-color: #222222;
}
footer form {
  position: relative;
}
footer input[type="text"] {
  font-size: 33px;
  width: 80%;
  display: inline-block;
  color: #8c8281;
  border: none;
  background-color: #222222;
  font-family: 'Merriweather', serif;
}
footer input[type="submit"] {
  background: none;
  border: 1px solid;
  color: #8c8281;
  border-color: #8c8281;
  padding: 4px 15px;
  font-size: 15px;
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0px;
  font-family: 'Merriweather', serif;
}
footer .footer_msg:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  margin: 0 auto;
}
footer .aboutus {
  font-family: 'Merriweather', serif;
}
footer .aboutus:after {
  content: "";
  display: block;
  background-color: white;
  width: 110px;
  height: 2px;
  margin: 5px 0px 0px 25px;
}
footer .footer_form {
  padding: 30px 0px;
}
footer .footer_form p {
  color: #8c8281;
  font-size: 13px;
  font-family: 'Merriweather', serif;
}
footer .conatct_about {
  width: 90%;
  margin: 0 auto;
  color: white;
}
footer .conatct_about .icons {
  display: flex;
}
footer .conatct_about .about_para {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .conatct_about .contact_list {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}
footer .list {
  padding-bottom: 10px;
}
footer .about {
  margin-bottom: 30px;
}
footer .contact {
  margin-bottom: 30px;
}
footer .copy {
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 13px;
}
footer .social_media {
    margin-left: 13px;
}
footer .icons .fa.fa-facebook {
    text-decoration: none;
    width: 5px;
    height: 5px;
    padding: 16px;
    text-align: center;
    border-radius: 50%;
    background: none;
    color: white;
    border: 1px solid;
    font-size: 8px;
}
footer .icons .fa.fa-twitter {
    text-decoration: none;
    width: 5px;
    height: 5px;
    padding: 16px;
    text-align: center;
    border-radius: 50%;
    background: none;
    color: white;
    border: 1px solid;
    font-size: 8px;
}
footer .icons .fa.fa-linkedin {
    width: 5px;
    height: 5px;
    padding: 16px;
    text-align: center;
    border-radius: 50%;
    background: none;
    color: white;
    border: 1px solid;
    font-size: 8px;
}
footer .icons .fa.fa-google-plus {
    width: 5px;
    height: 5px;
    padding: 16px;
    text-align: center;
    border-radius: 50%;
    background: none;
    color: white;
    border: 1px solid;
    font-size: 8px;
}
footer .icons .fa.fa-google-plus:hover {
  background-color: black;
}
footer .icons .fa.fa-twitter:hover {
  background-color: black;
}
footer .icons .fa.fa-facebook:hover {
  background-color: black;
}
footer .icons .fa.fa-linkedin:hover {
  background-color: black;
}
footer input[type="submit"]:hover {
  background-color: #f8f8f8;
  color: black;
}


/*****************/
/**pc**/
/****************/
@media  only screen and (min-width: 992px) {


  /******************/
  /* common css */
  /****************/
  * {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  .sm {
    display: none;
  }
  .pc {
    display: block;
  }
  .research_section_pc {
    display: block;
  }
  .main_slide {
    display: block;
  }
  .menu-btn {
    display: none;
  }
  .news_slide {
    display: none;
  }
  .wrapper {
    padding: 0px 20px;
  }


  /****************/
  /**pc header**/
  /***************/
  header {
    background-color: rgba(	241, 248, 253, 0.9);
    padding: 0px;
    position: absolute;
    top: 37px;
    width: 100%;
    }
  header .wrapper .navigation {
    display: flex;
  }
  header .wrapper .navigation .navi {
      margin-left: 20px;
      text-align: center;
      margin-top: 2px;
      font-size: 18px;
  }
  header .wrapper .navigation .navi .navi_bar {
    color: black;
    font-weight: bold;
    font-family: 'Merriweather', serif;
  }
  header .logo img {
    width: 300px;
    margin-top: 5px;
  }
  header .navi_bar:hover {
    border-bottom: 2px solid;
    border-color: #f1c712;
  }
  header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  /*****************/
  /**pc main**/
  /****************/
  main {
    background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)) , url("../picture/shutterstock_726926179.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  main .wrapper {
    color: #ffffff;
    text-align: left;
    padding: 110px 0px;
    width: 100%;
  }
  main .wrapper h2 {
    font-size: 35px;
    margin-top: 100px;
    margin-left: 50px;
    width: 425px;
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
  }
  main .wrapper p {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px;
    margin-left: 50px;
    width: 510px;
  }
  main .learn-btn {
    background-color: #f1c712;
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin: 13px 50px;
  }
  main .apply-btn {
    border: 2px solid;
    border-color: #f1c712;
    background: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    font-size: 12px;
    margin: 0px 0px 0px -30px;
    cursor: pointer;
    border-radius: 5px;
  }
  main .main_slide {
      position: relative;
  }
  main .main_dots {
    position: absolute;
    left: 50%;
    top: 74px;
    transform: translateX(-50%);
  }
  main .main_dots .main_active {
      width: 20px;
      height: 20px;
      border-radius: 60%;
      display: inline-block;
      margin-right: 15px;
      border: 2px solid white;
  }
  main .main_dots .main_active1 {
      width: 20px;
      height: 20px;
      border-radius: 60%;
      display: inline-block;
      margin-right: 15px;
      border: 2px solid white;
  }
  main .main_active:hover {
    background-color: #f2c712;
  }
  main .wrapper .main_slide .main_dots li.active {
        background: #f2c712;
  }
  /******************/
  /**pc programming**/
  /*****************/
  .programming .courses {
    background-color: #f8f8f8;
    border: 1px solid;
    border-color: #b3b3b3;
    margin-bottom: 50px;
    height: auto;
    width: 35%;
    position: relative;
    margin: 0 auto;
  }
  .programming .wrapper {
    display: flex;
    padding: 16px;
  }
  .programming .para:after {
    content: "";
    display: block;
    width: 312px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 1px;
    background-color: gray;
  }
  .programming .courses .right_img img {
    width: 100px;
    position: absolute;
    top: 82%;
    right: 10%;
  }
  .programming .image_courses {
    position: relative;
  }
  .programming .courses .content h3 {
    color: #0f4688;
    margin-top: 14px;
    margin-bottom: 7px;
    font-size: 25px;
  }
  .programming .courses .content p {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .programming .courses .content .readmore-btn {
    background-color: #f1c712;
    border: none;
    text-align: center;
    padding: 12px 42px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    align-items: center;
  }
  .programming h1 {
    font-size: 43px;
    text-align: center;
    color: #47689a;
    margin-top: 60px;
  }
  .programming .para {
    font-size: 25px;
    text-align: center;
    color: #4c4c4c;
    margin-bottom: 50px;
  }
  .programming .courses .readmore-btn:hover {
    color: white;
    background-color: #0f4688;
  }


  /*******************/
  /**pc admission**/
  /******************/
  .admission h1 {
    font-size: 43px;
    text-align: center;
    color: #47689a;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .admission_section {
    width: 46%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color:rgba(0,0,0,0.5);
    padding: 20px;
    margin: 0 auto;
    height: 300px;
    text-align: center;
  }
  .admission .wrapper {
    background-image: url(../picture/admission.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 22px;
    position: relative;
    width: 100%;
    height: 295px;
    background-position: center;
  }
  .admission .wrapper h3 {
    font-size: 40px;
    color: #ffffff;
    margin-top: 35px;
  }
  .admission_section p {
    font-size: 22px;
  }
  .admission .wrapper .register_btn {
    background-color: #f1c712;
    border: none;
    padding: 12px 50px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
  }
  .admission .register_btn:hover {
    color: white;
    background-color: #0f4688;
  }


  /********************/
  /**pc events**/
  /*******************/
  .events {
    padding: 70px;
  }
  .events .wrapper {
    display: flex;
  }
  .events .event_heading h1 {
    font-size: 60px;
    color: #47689a;
    margin-top: 40px;
    text-align: left;
  }
  .events .event_heading p {
    font-size: 21px;
    margin-bottom: 10px;
    text-align: left;
    width: 70%;
  }
  .events .event_heading .event-pic img {
    width: 130px;
    position: absolute;
    top: 10%;
    left: 45%;
  }
  .events .event_images .right_img .event-date {
    background-color: #f1c712;
    border: none;
    font-size: 13px;
    text-align: center;
    padding: 8px 18px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .events .event_images .right_img1 .event-date {
    background-color: #f1c712;
    border: none;
    font-size: 13px;
    text-align: center;
    padding: 8px 18px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .event_heading {
    width: 75%;
  }
  .events .event_images .right_img {
    background-image: url("../picture/events2.png");
    background-position: center;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
    width: 100%;
    position: relative;
  }
  .events .event_images .right_img1 {
    background-image: url("../picture/events1.png");
    background-position: center;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
    width: 100%;
    position: relative;
    margin-bottom: 34px;
  }
  .events .event_images {
    position: relative;
    width: 30%;
  }


  /****************/
  /**pc news**/
  /***************/
  .news_outer .news {
    display: flex;
    background-color: white;
    margin-top: 13px;
    height: 174px;
    width: 50%;
  }
  .news_outer .news .news-date {
    background-color: #0f4688;
    border: none;
    display: inline-block;
    font-size: 18px;
    padding: 8px;
    color: white;
    border-radius: 5px;
    margin: 0px 13px;
  }
  .news_outer .news .left .left-heading {
    font-size: 17px;
    padding: 12px 0px 0px 16px;
  }
  .news_outer .news .left .news_info .news_program {
    font-size: 16px;
    margin-left: 15px;
  }
  .news_outer .news .left .news_info .readmore {
    font-size: 14px;
    padding-left: 15px;
    color: #f1c712;
    cursor: pointer;
  }
  .news_outer .wrapper {
    display: flex;
    padding: 30px 30px 30px 0px;
  }
  .news_outer .news {
    display: flex;
    background-color: white;
    height: 35%;
    width: 90%;
    margin: 0 auto;
    margin: 35px 20px 60px 43px;
  }
  .news_outer .news .left {
    width: 100%;
    padding: 5px;
  }
  .news_outer h1 {
    font-size: 48px;
    text-align: center;
    color: white;
    padding-top: 60px;
  }
  .news_outer .wrapper .pc {
    width: 50%;
  }
  .news_outer .wrapper .sp {
    width: 50%;
  }
  .news_outer .wrapper .news .left .news_info {
    width: 80%;
  }
  .news_outer .news_content3 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .news_outer .news_content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }


  /*******************/
  /**pc research**/
  /******************/
  .research .research_section_pc {
    position: relative;
    width: 50%;
    margin: 5px;
  }
  .research .research_section_pc .research_img img {
    width: 100%;
  }
  .research .research_section_pc .research_content h3 {
    text-align: center;
    font-size: 25px;
    color: #47689a;
    margin-bottom: 15px;
  }
  .research .research_section_pc .research_content .res_para img {
    width: 4%;
  }
  .research .research_section_pc .research_content .res_para {
    padding-left: 25px;
    font-size: 17px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
  .research .research_section_pc .research_content .research-date {
    background-color: #f1c712;
    border: none;
    font-size: 16px;
    padding: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: opacity(85%);
  }
  .research .research_section_pc .research_content .resear_heading:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: gray;
    display: block;
    margin: 0 auto;
  }
  .research .research_section {
    position: relative;
    width: 50%;
    margin: 5px;
  }
  .research .wrapper {
    display: flex;
    padding: 30px;
  }
  .research h1 {
    font-size: 43px;
    text-align: center;
    padding-top: 61px;
    padding-bottom: 30px;
    color: #47689a;
  }
  .research .research_section .research_content .res_para {
    padding-left: 25px;
    font-size: 17px;
    padding-bottom: 13px;
    padding-top: 13px;
  }


  /*****************/
  /**footer pc**/
  /****************/
  footer .wrapper {
      padding: 23px 52px;
  }
  form {
    position: relative;
  }
  footer input[type="text"] {
    font-size: 70px;
    width: 76%;
    display: inline-block;
    color: #8c8281;
    border: none;
    background-color: #222222;
  }
  footer input[type="submit"] {
    background: none;
    border: 1px solid;
    color: #8c8281;
    border-color: #8c8281;
    padding: 5px 47px;
    font-size: 28px;
    display: inline-block;
    position: absolute;
    top: 32px;
    right: 0px;
  }
  footer .footer_form p {
    color: #8c8281;
    font-size: 25px;
  }
  footer .wrapper .conatct_about {
    display: flex;
    width: 100%;
  }
  section.contact {
    width: 50%;
    margin: 40px 0px;
  }
  section.about {
    width: 50%;
    margin: 40px 0px;
  }
  footer .aboutus:after {
      content: "";
      display: block;
      background-color: white;
      width: 141px;
      height: 2px;
      margin: 5px 0px 0px 71px;
  }
  footer .conatct_about .about_para {
    padding: 10px 15px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 23px;
  }
  footer .conatct_about .contact_list {
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 20px;
    font-size: 23px;
  }
  .aboutus {
    font-size: 29px;
  }
  footer .conatct_about .icons {
    display: flex;
    padding: 15px;
  }
  footer .icons .fa.fa-facebook {
    text-decoration: none;
    width: 25px;
    height: 25px;
    padding: 16px;
    text-align: center;
    border-radius: 50%;
    background: none;
    color: white;
    border: 1px solid;
    font-size: 30px;
  }
  footer .icons .fa.fa-twitter {
    text-decoration: none;
    width: 25px;
    height: 25px;
    padding: 16px;
    text-align: center;
    border-radius: 50%;
    background: none;
    color: white;
    border: 1px solid;
    font-size: 30px;
  }
  footer .icons .fa.fa-linkedin {
    text-decoration: none;
    width: 25px;
    height: 25px;
    padding: 16px;
    text-align: center;
    border-radius: 50%;
    background: none;
    color: white;
    border: 1px solid;
    font-size: 30px;
  }
  footer .icons .fa.fa-google-plus {
    text-decoration: none;
    width: 25px;
    height: 25px;
    padding: 16px;
    text-align: center;
    border-radius: 50%;
    background: none;
    color: white;
    border: 1px solid;
    font-size: 30px;
  }
  footer .copy {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
  }
}
